/* 메인화면 내 인증서 정보 */
.main-box {
  width: 100%;
  height: auto;
  flex-grow: 1;
  background-color: var(--box-color);
  border-radius: 2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */

  position: relative;
  z-index: 1;
}

/* 박스 옆에 캐릭터 */
.robot-side {
  position: absolute;
  width: 10rem;
  z-index: 2;
  left: 0;
  top: 45%;
  transform: scaleX(-1) translateX(67%);
  cursor: pointer;
}

.main-box > h2 {
  margin: 0;
  margin-top: 2.5%;
  color: var(--blue);
  font-weight: 800;
}

.main-box > p {
  margin: 0;
  color: gray;
}

.donut-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  margin: 2% 0;
  gap: 5%;
}

.donut-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5%;
  align-self: center;
  justify-self: center;
  text-align: center;
}

/* 도넛박스 내 텍스트 스타일 */
.donut-box h3 {
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

.donut-box p {
  margin: 0;
  margin-bottom: 3%;
  color: gray;
}

/* 바로가기 메뉴 박스 */

.mini-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 30%;
  margin-top: 0.75rem;
  gap: 0.5rem;
}

.mini-box {
  color: var(--blue);
  font-weight: bold;
  background-color: var(--box-color);
  border-radius: 2rem;
  height: 100%;
  width: 33%;
  box-shadow: 0px 1.5px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.mini-box > :first-child {
  max-width: 40%;
  margin: 1.5rem 0 0 2rem;
  font-size: 45%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.mini-box > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 1.5rem 0;
  align-items: flex-end;
}

.help-link {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  margin: 0.5rem;
  color: gray;
  margin-bottom: 2%;
}
